<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Todoアプリ(Vuetify)</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@3.6.11/dist/vuetify.min.css'>
<link rel='stylesheet' href='https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'><link rel="stylesheet" href="./style.css">

  </head>
    
  <body>
  <!-- Vueで指定された"app"要素、この中でのみVueが有効 -->
<div id="app">
  <v-app>
    <v-main>
      <v-container>
        <v-row
          class="text-h3 mb-3 mt-3"
          justify="center"
        >
          My ToDo App
        </v-row>

        <v-row
          class="mb-3 mt-3"
          align="center"
          justify="center"
        >
          <v-col cols="6">
            <v-text-field
              abel="タスクを入力…"
              variant="solo-inverted"
              class="ml-6 mr-6"
              v-model="task"
              label="タスクを入力"
              placeholder="タスクを入力…"           
            ></v-text-field>
          </v-col>
        </v-row>

        <v-row
          class="mb-3 mt-3"
          align="center"
          justify="center"
        >
          タスク内容：{{ task }}

          <v-btn
            class="ml-3"
            color="indigo"
            size="small"
            rounded="pill"
            @click="addTask"
            variant="outlined"
          >
            <v-icon icon="mdi-plus" class="mr-1"></v-icon>
            追加
          </v-btn>
        </v-row>

        <v-row
          class="mb-3 mt-3"
          justify="center"
        >
          <v-btn
            rounded
            variant="tonal"
            @click="clearAll"
          >
            全てのToDoをクリア
          </v-btn>
        </v-row>

        <v-row
          class="mb-3 mt-3"
          justify="center"
          v-for="(todo, i) in todoList"
          :key="i"
        >
          {{ todo }}
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</div>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@3.6.11/dist/vuetify.min.js'></script><script  src="./script.js"></script>

  </body>
  
</html>
